@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AnonymousBold";
  src: local("AnonymousPro"),
    url("../fonts/AnonymousPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "AnonymousRegular";
  src: local("AnonymousPro"),
    url("../fonts/AnonymousPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AnonymousBoldItalic";
  src: local("AnonymousPro"),
    url("../fonts/AnonymousPro-BoldItalic.ttf") format("truetype");
}

.option {
  font-family: "AnonymousRegular", sans-serif;
  font-size: 27px;
  opacity: 0.6;
  letter-spacing: .085rem;
  display: inline-block;
  transition: transform 0.3s;
}

.option:hover {
  font-size: 33px;
  opacity: 1;
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
